$primary-color-100: hsl(0, 0%, 59%);
$primary-color-200: hsl(0, 0%, 17%);
$secondary-color: hsl(228, 45%, 44%);

$color-error: hsl(0, 96%, 68%);
$color-error-text: hsl(348, 100%, 94%);

$netural-color-white: hsl(0, 0%, 100%);
$netural-color-black: hsl(0, 0%, 0%);