$primary-color: hsl(180, 29%, 50%);

$netural-color-100: hsl(180, 52%, 96%);
$netural-color-200: hsl(180, 31%, 95%);
$netural-color-300: hsl(180, 8%, 52%);
$netural-color-400: hsl(180, 14%, 20%);

$neutral-color-black: hsl(0, 0%, 0%);
$neutral-color-white: hsl(0, 0%, 100%);

$card-box-shadow: hsla(180, 29%, 50%, 0.161);