@import 'typography';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family-default;
    font-size: $base-font-size;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}