@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
.job-filter {
  font-size: .9em;
  font-weight: 700;
  letter-spacing: -.5px;
}

.card__top {
  font-weight: 700;
}

.card__top > span:first-child {
  letter-spacing: -1.2px;
}

.card__detail > span:not(.circle) {
  font-size: .85em;
  letter-spacing: .5px;
}

.tag {
  font-size: .8em;
  font-weight: 500;
  letter-spacing: -0.35px;
  text-transform: uppercase;
}

.filter {
  font-size: .9em;
  font-weight: 700;
}

.circle {
  font-size: .5em;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .card__header {
    font-size: 1.2em;
  }
  .card__detail > span:not(.circle) {
    font-size: 1em;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  background: #effafa;
}

.header-content {
  background: white;
}

.job-filter {
  background: #eef6f6;
  color: #5ba4a4;
}

.remove-filter-btn {
  background: url("../images/icon-remove.svg") no-repeat, #5ba4a4;
  background-position: center;
}

.remove-filter-btn:hover {
  background: url("../images/icon-remove.svg") no-repeat, #2c3a3a;
  background-position: center;
}

.clear-btn {
  color: #7b8e8e;
}

.clear-btn:hover {
  color: #5ba4a4;
  text-decoration: underline;
}

.card {
  background: white;
}

.card__body {
  border-bottom-color: #7b8e8e;
}

.card__top > span:first-child {
  color: #5ba4a4;
}

.card__detail {
  color: #7b8e8e;
}

.card--featured {
  border-left-color: #5ba4a4;
}

.card__header {
  color: #2c3a3a;
}

.card__header:hover {
  color: #5ba4a4;
  cursor: pointer;
}

.tag {
  color: white;
}

.tag--new {
  background: #5ba4a4;
}

.tag--featured {
  background: #2c3a3a;
}

.filter {
  background: #eef6f6;
  color: #5ba4a4;
}

.filter:hover {
  color: white;
  cursor: pointer;
  background: #5ba4a4;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .filter__container {
    border-top-color: #7b8e8e;
  }
}

header {
  background: url("../images/bg-header-mobile.svg") no-repeat, #5ba4a4;
  background-position: bottom center, center;
  background-size: cover, auto;
  height: 10.4em;
}

main {
  margin: 1.1em auto;
  position: relative;
  width: 87%;
}

.header-content {
  border-radius: .4em;
  -webkit-box-shadow: 0px 14px 20px 0px rgba(91, 164, 164, 0.161);
          box-shadow: 0px 14px 20px 0px rgba(91, 164, 164, 0.161);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em;
  padding-top: 1.2em;
  position: relative;
  top: -3.6em;
}

.job-filter {
  border-radius: 5px;
  overflow: hidden;
  padding: .75em 3em .5em .5em;
  position: relative;
}

.job-filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .8em;
}

.remove-filter-btn {
  height: 100%;
  padding: 1em;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.card {
  border-radius: .4em;
  -webkit-box-shadow: 0px 14px 20px 0px rgba(91, 164, 164, 0.161);
          box-shadow: 0px 14px 20px 0px rgba(91, 164, 164, 0.161);
  margin-bottom: 2.5em;
  padding: 1.5em;
  padding-top: 1em;
  position: relative;
}

.card__logo {
  position: absolute;
  top: -1.56em;
  width: 3.3em;
}

.card__body {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: 1.5em;
  padding-bottom: 1.2em;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .6em;
  margin-bottom: 1em;
}

.card__top > span:first-child {
  margin-right: .5em;
}

.card__header {
  margin-bottom: .9em;
}

.card--featured {
  border-left-style: solid;
  border-left-width: .4em;
  padding: 1em 1.5em 1.5em 1.1em;
}

.tag {
  border-radius: 1em;
  margin-right: .4em;
  padding: .6em .6em .35em .6em;
}

.filter {
  border-radius: 5px;
  padding: .75em .65em .5em .5em;
}

.filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.circle {
  margin: 0 .3em;
}

.card.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  main {
    max-width: 1108.8px;
  }
  .card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5em;
    padding: 1.25em 2.5em;
    margin-bottom: 1.2em;
  }
  .card__logo {
    position: static;
    width: 6em;
  }
  .card__body {
    border: none;
  }
  .card__top > span:first-child {
    margin-right: 1em;
  }
  .card__header {
    margin-bottom: .5em;
  }
  .card__detail {
    white-space: nowrap;
  }
  .card--featured {
    padding: 1em 2.5em 1.2em 2.1em;
  }
  .filter__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: auto;
    margin-top: 0;
  }
  .circle {
    margin: 0 1.2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    max-width: 650px;
  }
  .card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card__body {
    margin-top: 0;
    padding-bottom: 0;
  }
  .filter__container {
    border-top-style: solid;
    border-top-width: 1px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
    padding-top: 1em;
    width: 100%;
  }
}
