@import "../utils/colors";

h1 {
  color: $netural-color-white;
}

h2 {
  color: $primary-color-100;
}

input,
a {
  &:focus {
    outline: $primary-color-200 solid 2px;
  }
}

input {
  background: $netural-color-white;
  color: $primary-color-200;

  &::placeholder {
    color: $primary-color-100;
  }
}

button {
  background: url("../images/icon-arrow.svg") no-repeat center, $netural-color-black;

  &:hover {
    background-color: $primary-color-200;
  }
}

small {
  color: $color-error-text;
}

.addr {
  background: url("../images/pattern-bg.png") no-repeat 56% center;
  background-size: cover;
}

.addr__info {
  background: $netural-color-white;
}

.addr__section {
  & p {
    color: $primary-color-200;
  }

  @include screen-desktop {
    &:not(:last-of-type)::after {
      background: $primary-color-100;
    }
  }
}

.map__container {
  background: $primary-color-100;
}

.attribution a {
  color: $secondary-color;
}

::selection {
  background-color: $secondary-color;
  color: $netural-color-white;
}
