@import "../utils/index";

h1 {
  color: $netural-color-white;
}

h2 {
  color: $primary-color-100;
}

input {
  background: $netural-color-white;
  color: $primary-color-200;

  &::placeholder {
    color: $primary-color-100;
  }
}

button {
  background: url("../images/icon-arrow.svg") no-repeat center, $netural-color-black;

  &:hover {
    background-color: $primary-color-200;
  }
}

.wrapper {
  background: url("../images/pattern-bg.png") no-repeat top center;
  background-size: auto $map-height;
}

.addr__info {
  background: $netural-color-white;
}

.addr__section {
  & p {
    color: $primary-color-200;
  }

  @include screen-desktop {
    &:not(:last-of-type)::after {
      background: $primary-color-100;
    }
  }
}

.map__container {
  background: $primary-color-100;
}

.attribution a {
  color: $secondary-color;
}
