@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 0 .5em;
}

html, body {
  height: 100%;
}

body {
  background: url(../images/bg-stars.svg) no-repeat top, url(../images/pattern-hills.svg) no-repeat 86% bottom, #191a24;
  background-size: auto, auto 25%,auto;
  color: white;
  padding: 10.2em 0 0 0;
}

h1 {
  font-size: 1.25em;
  letter-spacing: 6.5px;
  margin-bottom: 3.2em;
  text-transform: uppercase;
}

h2 {
  font-size: 2.3em;
}

footer {
  bottom: 0;
  margin-top: 5em;
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 87%;
}

.timer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: calc((100% - 3em) / 4);
}

.card__top {
  background: #343650;
  border-radius: .5em;
  -webkit-box-shadow: 0px 7px 0px 0px #191a24;
          box-shadow: 0px 7px 0px 0px #191a24;
  color: #fb6087;
  margin-bottom: 1em;
  padding: .8em .5em;
}

.card__sub {
  color: #8486a9;
  font-size: .65em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: .5em;
}

.card__time {
  background: #343650;
  overflow: hidden;
  -webkit-perspective: 500px;
          perspective: 500px;
  position: relative;
}

.card__time__divider {
  bottom: 52%;
  left: 0;
  opacity: 45%;
  position: absolute;
  height: 2px;
  width: 100%;
  -webkit-box-shadow: inset 1px 6px 6px 8px rgba(0, 0, 0, 0.212);
          box-shadow: inset 1px 6px 6px 8px rgba(0, 0, 0, 0.212);
}

.card__time::before, .card__time::after {
  content: "";
  background: #1e1f29;
  border-radius: 50%;
  bottom: calc(50% - 4px);
  height: 10px;
  left: -7px;
  position: absolute;
  width: 10px;
  z-index: 999;
}

.card__time::after {
  left: initial;
  right: -7px;
}

.number {
  font-size: 2.3em;
}

.half {
  background: #343650;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.top {
  bottom: 50%;
  padding: .8rem .5rem 0rem .5rem;
  -webkit-transform-origin: 50% 100% 0;
          transform-origin: 50% 100% 0;
  top: 0;
}

.bottom {
  top: 50%;
  padding: 0rem .5rem .8rem .5rem;
  bottom: 0;
  -webkit-transform-origin: 50% 0 0;
          transform-origin: 50% 0 0;
}

.bottom::before {
  content: "";
  display: block;
  margin-top: -1.5em;
}

.animate-flip-top {
  -webkit-animation: flip-top 1s linear 0s;
          animation: flip-top 1s linear 0s;
}

.animate-flip-bottom {
  -webkit-animation: flip-bottom 1s linear 0s;
          animation: flip-bottom 1s linear 0s;
}

.seconds.animate-flip-top, .seconds.animate-flip-bottom {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes flip-top {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  10% {
    background-color: #161722;
    -webkit-box-shadow: inset 0 .02em 0 0 white;
            box-shadow: inset 0 .02em 0 0 white;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@keyframes flip-top {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  10% {
    background-color: #161722;
    -webkit-box-shadow: inset 0 .02em 0 0 white;
            box-shadow: inset 0 .02em 0 0 white;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@-webkit-keyframes flip-bottom {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  10% {
    background-color: #494b6f;
    -webkit-box-shadow: inset 0 -.02em 0 0 black;
            box-shadow: inset 0 -.02em 0 0 black;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  20% {
    background-color: #343650;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes flip-bottom {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  10% {
    background-color: #494b6f;
    -webkit-box-shadow: inset 0 -.02em 0 0 black;
            box-shadow: inset 0 -.02em 0 0 black;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  20% {
    background-color: #343650;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
