$primary-color-100: hsl(174, 89%, 37%);
$primary-color-200: hsl(174, 86%, 45%);
$primary-color-300: hsl(174, 77%, 80%);

$secondary-color-100: hsl(15, 100%, 70%);
$secondary-color-200: hsl(14, 92%, 95%);

$tertiary-color-100: hsl(226, 100%, 87%);

$netural-color-100: hsl(227, 35%, 25%);
$netural-color-200: hsl(225, 20%, 60%);
$netural-color-300: hsl(223, 50%, 87%);
$netural-color-400: hsl(224, 65%, 95%);
$netural-color-500: hsl(230, 100%, 99%);

$netural-color-white: hsl(0, 0%, 100%);