@import "../utils/variables";
@import "../utils/mixins";

main,
footer {
  text-align: center;
}

h1 {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-align: center;

  @include screen-desktop {
    font-size: 1.7em;
  }
}

h2 {
  font-size: 0.5em;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  @include screen-desktop {
    font-size: 0.6em;
    letter-spacing: 0.23em;
  }
}

input {
  letter-spacing: $letter-spacing;
  text-overflow: ellipsis;
}

small {
  font-size: 70%;
  letter-spacing: $letter-spacing + 0.04;
}

.addr__section {
  & p {
    font-size: 1.1em;
    font-weight: 500;

    @include screen-desktop {
      font-size: 1.4em;
	  line-height: 1.15;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
