@import '../variables';

body{
    background: $netural-color-500-light;
}

h2{
    color: $netural-color-200-light;
}

.section{
    &__heading{
        border-bottom-color: $netural-color-300-light;
    }
    &__sub{
        color: $netural-color-200-light;
    }
}

.toggle{
    background: $secondary-toggle-light;
    &__label{
        color: $netural-color-200-light;
    }
    &--input{
        &:checked{
            ~ .toggle__btn{
                background: linear-gradient(45deg, $secondary-toggle-dark-gradient1,  $secondary-toggle-dark-gradient2 75%);
            }
        }
    }
    &__btn{
        transition: --myColor1 .2s ease-in, --myColor2 .2s ease-in;
        background: linear-gradient(45deg, var(--myColor1), var(--myColor2) 75%);

        &::after{
            background: $netural-color-500-light;
        }
        &:hover{
            // Doesn't work with sass variables, need to be color value
            --myColor1: hsl(210, 78%, 56%);
            --myColor2: hsl(146, 68%, 55%);
        }
    }
}
.card{
    background: $netural-color-400-light;

    &:hover{
        background: $netural-color-300-light;
    }
    &__top{
        color: $netural-color-200-light;
    }
    &__sub{
        color: $netural-color-200-light;
    }
    &__status{
        &--up{
            color: $primary-color-up;
        }
        &--down{
            color: $primary-color-down;
        }
    }
    &--facebook::before{
        background: $primary-color-facebook;
    }
    &--twitter::before{
        background: $primary-color-twitter;
    }
    &--instagram::before{
        background: linear-gradient(45deg, $primary-color-instagram-gradient1, $primary-color-instagram-gradient2);
    }
    &--youtube::before{
        background: $primary-color-youtube;
    }
}
.card__overview{
    background: $netural-color-400-light;

    &:hover{
        background: $netural-color-300-light;
    }
}
.overview{
    &__sub{
        color: $netural-color-200-light;
    }
}


@property --myColor1 {
    syntax: '<color>';
    initial-value: $secondary-toggle-light;
    inherits: false;
}
  
@property --myColor2 {
syntax: '<color>';
initial-value: $secondary-toggle-light;
inherits: false;
}
