$primary-color-up: hsl(163, 72%, 41%);
$primary-color-down: hsl(356, 69%, 56%);
$primary-color-facebook: hsl(208, 92%, 53%);
$primary-color-twitter: hsl(203, 89%, 53%);
$primary-color-instagram-gradient1: hsl(37, 97%, 70%);
$primary-color-instagram-gradient2: hsl(329, 70%, 58%);
$primary-color-youtube: hsl(348, 97%, 39%);

$secondary-toggle-light: hsl(230, 22%, 74%);
$secondary-toggle-dark-gradient1: hsl(210, 78%, 56%);
$secondary-toggle-dark-gradient2: hsl(146, 68%, 55%);

$netural-color-100-light: hsl(230, 17%, 14%);
$netural-color-200-light: hsl(228, 12%, 44%);
$netural-color-300-light: hsl(227, 47%, 96%);
$netural-color-400-light: hsl(225, 100%, 98%);
$netural-color-500-light: hsl(0, 0%, 100%);

$netural-color-100-dark: hsl(230, 17%, 14%);
$netural-color-200-dark: hsl(232, 19%, 15%);
$netural-color-300-dark: hsl(228, 28%, 20%);
$netural-color-400-dark: hsl(228, 34%, 66%);
$netural-color-500-dark: hsl(0, 0%, 100%);
$netural-color-dark-hover: hsla(235, 45%, 61%, 0.231);

$base-font-size: 14px;