@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'variables';

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: $base-font-size;
}

main{
    margin: 2.5em auto;
    width: 87%;
}
section{
    margin-bottom: 3.4em;
}
h1{
    font-size: 1.7em;
}
h2{
    font-size: 1.7em;
    margin-bottom: 1.1em;
}
h3{
    font-size: 3.8em;
}
h4{
    font-size: 2.2em;
}

.section{
    &__heading{
        border-bottom-width: 3px;
        border-bottom-style: solid;
        padding-bottom: 1.7em;
    }
    &__header{
        margin-bottom: .2em;
    }
    &__sub{
        font-weight: 700;
        letter-spacing: .2px;
    }
}
.toggle{
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    position: relative;
    width: 48px;

    &__container{
        display: flex;
        justify-content: space-between;
        margin: 1.4em 0 2.6em 0;
    }
    &__label{
        font-weight: 700;
    }
    &--input{
        opacity: 0;
        width: 0;
        height: 0;

        &:checked{
            ~ .toggle__btn{
                &::after{
                    right: calc(100% - 8px - 14px);
                }
            } 
        }
    }
    &__btn{
        border-radius: 20px;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: background .4s ease-in;
    
        &::after{
            border-radius: 50%;
            content: '';
            height: 14px;
            right: 0;
            margin: 4px 4px 0 0;
            position: absolute;
            top: 0;
            transition: .4s;
            width: 14px;
        }
    }
}
.card{
    border-radius: .4em;
    margin-bottom: 1.6em;
    overflow: hidden;
    padding: 2.45em 2em 1.85em 2em;
    position: relative;
    text-align: center;

    &__top{
        font-size: .85em;
        font-weight: 700;
        margin-bottom: 1.5em;
    }
    &__icon{
        content: url('../images/icon-facebook.svg');
        margin-right: .3em;
        vertical-align: middle;
        &--twitter{
            content: url('../images/icon-twitter.svg');
        }
        &--instagram{
            content: url('../images/icon-instagram.svg');
        }
        &--youtube{
            content: url('../images/icon-youtube.svg');
        }
    }
    &__header{
        margin-bottom: 0em;
    }
    &__sub{
        font-size: .9em;
        letter-spacing: 4.5px;
        margin-bottom: 1.8em;
        text-transform: uppercase;
    }
    &__status{
        &--up{
            font-size: .85em;
            font-weight: 700;
            &::before{
                content: url('../images/icon-up.svg');
                position: relative;
                top: -.2em;
            }
        }
        &--down{
            font-size: .85em;
            font-weight: 700;
            &::before{
                content: url('../images/icon-down.svg');
                position: relative;
                top: -.1em;
            }
        }
    }
    &::before{
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
.card__overview{
    border-radius: .2em;
    margin-bottom: 1em;
    padding: 1.8em 1.8em;
    padding-right: 2.2em;
    div{
        display: flex;
        justify-content: space-between;
    }
}

.overview{
    &__top{
        align-items: center;
        margin-bottom: 1.5em;
    }
    &__body{
        align-items: flex-end;
    }
    &__sub{
        font-weight: 700;
    }
}
