$primary-color-100: hsl(246, 80%, 60%);

$secondary-work: hsl(15, 100%, 70%);
$secondary-play: hsl(195, 74%, 62%);
$secondary-study: hsl(348, 100%, 68%);
$secondary-exercise: hsl(145, 58%, 55%);
$secondary-social: hsl(264, 64%, 52%);
$secondary-selfcare: hsl(43, 84%, 65%);

$netural-color-100: hsl(226, 43%, 10%);
$netural-color-200: hsl(235, 46%, 20%);
$netural-color-300: hsl(235, 45%, 61%);
$netural-color-400: hsl(236, 100%, 87%);
$netural-color-300-light: hsla(235, 45%, 61%, 0.356);

$border-radius: 1em;