$primaryTextColor: hsl(238, 29%, 16%);
$secondaryTextColor: hsl(14, 88%, 65%);

$upperGradientColor: hsl(273, 75%, 66%);
$lowerGradientColor: hsl(240, 73%, 65%);

$neutralColor-100: hsl(237, 12%, 33%);
$neutralColor-200: hsl(240, 6%, 50%);
$neutralColor-300: hsl(240, 5%, 91%);
$neutralColor-400: hsl(0, 0%, 100%);