@import "./base/index";
@import "./themes/index";
@import "./utils/index";

body {
  height: 100vh;
}

main,
footer {
  margin: 1.5em auto;
  margin-top: 0;
  padding-top: 1.5em;
  width: 87%;

  @include screen-desktop {
    min-width: 1000px;
    padding-top: 1.6em;
    width: 77%;
  }

  @include screen-hybrid {
    min-width: auto;
  }
}

h1 {
  margin-bottom: 1.1em;

  @include screen-desktop {
    margin-bottom: 0.9em;
  }
}

h2 {
  margin-bottom: 0.9em;

  @include screen-desktop {
    margin-bottom: 1.5em;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.35em;
  position: relative;

  @include screen-desktop {
    margin-bottom: 1.2em;
    width: 50%;
  }
}

input {
  border-radius: $border-radius;
  cursor: pointer;
  padding: 1em 1.3em;
  width: 100%;
}

button {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 1.6em;
  position: absolute;
  right: 0;
}

small {
  margin-top: .5em;
}

input, button, a {
  &:focus-visible{
    outline: $primary-color-200 dashed 3px;
  }
}

.wrapper {
  height: 107%;
  position: relative;

  @include screen-desktop {
    height: 100%;
  }
}

.addr {
  position: relative;

  @include screen-desktop {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.addr__info {
  border-radius: $border-radius;
  padding: 1.5em 2em;
  position: absolute;
  width: 100%;
  z-index: 1002;

  @include screen-desktop {
    display: flex;
    padding: 0;
    position: static;
    text-align: left;
  }

  @include screen-hybrid {
    flex-wrap: wrap;
    gap: 2em 0;
    padding: 2em 0;
  }
}

.addr__section {
  margin-bottom: 1.38em;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include screen-desktop {
    margin: 2em 0;
    padding: 0 1.9em;
    width: 25%;

    &:last-of-type {
      margin-bottom: auto;
    }

    &:not(:last-of-type)::after {
      content: "";
      height: 83%;
      position: absolute;
      right: 0;
      top: 8.5%;
      width: 1px;
    }
  }

  @include screen-hybrid {
    margin: 0;
    padding: 0 2.5em;
    width: 50%;

    &:nth-of-type(2)::after {
      content: none;
    }
  }
}

.map__container {
  height: calc(100% - #{$map-height});
  position: absolute;
  top: $map-height;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.attribution {
  padding-bottom: 2em;
}

.input--error {
  outline: $color-error 2px solid !important;
}

.hidden {
  display: none;

  @include screen-desktop {
    display: initial;
    visibility: hidden;
  }
}