$primary-color: hsl(172, 67%, 45%);
$primary-color-100: hsl(183, 100%, 15%);
$primary-color-200: hsl(186, 14%, 43%);
$primary-color-300: hsl(184, 14%, 56%);
$primary-color-400: hsl(185, 41%, 84%);
$primary-color-500: hsl(189, 41%, 97%);
$primary-color-600: hsl(0, 0%, 100%);

$primary-color-hover: hsl(185, 60%, 76%);

$accent-color: hsl(12, 100%, 60%);