body {
  background: #1e202a;
  color: white;
}

h2 {
  color: #1f212e;
}

.section__heading {
  border-bottom-color: #8b97c6;
}

.section__sub {
  color: #8b97c6;
}

.toggle {
  background: #aeb3cb;
}

.toggle__label {
  color: #8b97c6;
}

.toggle--input:checked ~ .toggle__btn {
  background: linear-gradient(45deg, #378fe6, #3eda82 75%);
}

.toggle__btn {
  background: #aeb3cb;
}

.toggle__btn::after {
  background: #1e202a;
}

.toggle:hover {
  background: linear-gradient(45deg, #378fe6, #3eda82 75%);
}

.card {
  background: #252a41;
}

.card__top {
  color: #8b97c6;
}

.card__sub {
  color: #8b97c6;
}

.card__status--up {
  color: #1db489;
}

.card__status--down {
  color: #dc414c;
}

.card::before {
  background: #198ff5;
}

.card--twitter::before {
  background: #1ca0f2;
}

.card--instagram::before {
  background: linear-gradient(45deg, #fdc468, #df4996);
}

.card--youtube::before {
  background: #c4032a;
}

.card__overview {
  background: #252a41;
}

.overview__sub {
  color: #8b97c6;
}
